 <form style="margin:0px 20px; border:1px solid #ccc;padding:20px;text-align:center;" action="https://tinyletter.com/euprogramador" 
       method="post" target="popupwindow" 
       onsubmit="window.open('https://tinyletter.com/euprogramador', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
   <p>
     <label for="tlemail">Receba dicas, informações e atualizações sobre cloud computing!</label>
   </p>
   <p><input type="text" style="width:200px" name="email" id="tlemail" placeholder="Informe seu endereço de email"/></p>
   <p>
   <input type="hidden" value="1" name="embed"/><input type="submit" value="Inscrever" />
   </p>
</form>

